<div class="main-container">
	<div class="transparent" id="custom-target"></div>
	<div class="login-main-container">
		<div class="login-form-container">
			<div class="login-form-header">
				<div class="login-title">Ingresar</div>
			</div>
			<div class="login-form-body">
				<form id="login-form">
					<div class="login-form-input">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" placeholder="Email" />
					</div>
					<div class="login-form-input">
						<label for="password">Contraseña</label>
						<input
							type="password"
							name="password"
							id="password"
							placeholder="Contraseña"
						/>
					</div>
                    <div class="login-form-input">
						<label for="password">Contraseña</label>
						<input
							type="password"
							name="repeat-password"
							id="repeat-password"
							placeholder="Repita contraseña"
						/>
					</div>
				</form>
				<div class="have-not-account">
					<p>¿No tienes una cuenta? <a href="/register">Registrarse</a></p>
				</div>
			</div>
			<div class="login-form-footer">
				<div class="login-form-submit">
					<button class="btn add-btn large-btn" type="submit" form="login-form">
						<i class="fa-solid fa-right-to-bracket"></i>
						&nbsp;Actualizar
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/js/restore.js"></script>